.form__section {
    margin-top: 50px;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button__div {
    width: 20%;
}

.form__section label {
    color: black;
}

.general--input__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.general--input__div > input {
    width: 90%;
    height: 20%;
    font-size: 1.2rem;
    border: 0;
    box-shadow: 2px 2px aquamarine;
}

.daily {
    accent-color: #91a9c8;
}

.weekly {
    accent-color: #bb93d2;
}

.monthly {
    accent-color: #ffa07a;
}